

<%= form_for([@game,@play]) do |f| %>
	<% if @play.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@play.errors.count, "error") %> prohibited this play from being saved:</h2>

      <ul>
      <% @play.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="span8">

	<!-- Display information about the game !-->

	<h3> <%= @play.game.visitor_team %> </h3>  at <h3> <%= @play.game.home_team %></h3>
	<h4> <%= @game.kickoff %>  Kickoff Time </h4> 
	<strong> Line: <%= @game.favorite %> by <%= @game.line %></strong>
	<strong> Total <%=@game.total %> </strong>

	<!-- Information displayed in this form is related to the play being made on the game !-->
	 
	<p>  <%= f.hidden_field(:game_id, :value => @game.id ) %></p>
    <p>  <%= f.hidden_field(:user_id, :value => current_user.id ) %></p>
    
    <div class="controls">
    	<%= f.label :selection %>
    	<label> Totals Bettings </label>
    	<label class="radio">
	    	<%= f.radio_button :selection, "Under" %>
	    	Under
	    </label>
    	
    	<label class="radio">
    		<%= f.radio_button :selection, "Over" %>
    		Over
    	</label>
    </div>

    <div class="controls">
    	<label> Pointspread Betting </label>
    	<label class="radio">
			<%= f.radio_button :selection, "Favorite" %>
			<%= @game.favorite + "-#{@game.line}" %>
		</label>

		<label class="radio">
			<%= f.radio_button :selection, "Underdog" %>
			<%= @game.underdog+ "+#{@game.line}" %>
		</label>
    </div>


    <%= f.submit "Submit", :class => "btn btn-success" %>

<% end %>
    	
    

   
</div>

