
  <%= form_for(@play) do |f| %>
  	<% if @play.errors.any? %>
      <div class="alert">
        <h2>Oops, there were a few problems:</h2>

        <ul>
        <% @play.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


        <div class="row" id="play_form">

          <h2> Make a Pick </h2>
        	<h3 class="dark_red"> <%= @game.index_favorite + "(-#{@game.line})" + " vs. " + @game.index_underdog %> </h3>  
         
        	<!-- Information displayed in this form is related to the play being made on the game !-->
         <br/>
         <%= f.hidden_field(:game_id, :value => @game.id) %>
         <%= f.hidden_field(:user_id, :value => current_user.id ) %>
            
          
            <div class="span3 controls">
              	<label><strong> Totals Betting </strong></label>
              	<label class="radio">
          	    	<%= f.radio_button :selection, "Under" %>
          	    	<%= "Under #{@game.total}" %>
          	    </label>
              	
              	<label class="radio">
              		<%= f.radio_button :selection, "Over" %>
              		<%= "Over #{@game.total}" %>
              	</label>
              
            </div>

          
            <div class="span3 controls">
              
                	<label><strong> Pointspread Betting </strong> </label>
                	<label class="radio">
              			<%= f.radio_button :selection, "Favorite" %>
              			<%= @game.favorite + " -#{@game.line}" %>
            		  </label>
                
            		<label class="radio">
            			<%= f.radio_button :selection, "Underdog" %>
            			<%= @game.underdog+ " +#{@game.line}" %>
            		</label>

                <br/>
                <%= f.submit "Submit", :class => "btn btn-success" %>
          
          </div>
          
        </div>
      <br/>

       
      
  <% end %>
      	
      

   


 