
<div class="span8">
  <%= form_for(@play) do |f| %>
  	<% if @play.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@play.errors.count, "error") %> Oops, there were a few problems:</h2>

        <ul>
        <% @play.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>



  	<!-- Display information about the game !-->

  	<h3 class="red"> Make a play: <%= @game.visitor_team + " @ " + @game.home_team %> </h3>  
    <%= link_to ' << Go Back', plays_path, :class => "pull-right" %>
  	<!-- Information displayed in this form is related to the play being made on the game !-->
   <br/>
   <%= f.hidden_field(:game_id, :value => @game.id) %>
   <%= f.hidden_field(:user_id, :value => current_user.id ) %>
      

      <div class=" controls">
   
      	<label><strong> Totals Betting </strong></label>
      	<label class="radio">
  	    	<%= f.radio_button :selection, "Under" %>
  	    	<%= "Under #{@game.total}" %>
  	    </label>
      	
      	<label class="radio">
      		<%= f.radio_button :selection, "Over" %>
      		<%= "Over #{@game.total}" %>
      	</label>
      </div>

      <br/>
      <div class="controls">
      	<label><strong> Pointspread Betting </strong> </label>
      	<label class="radio">
    			<%= f.radio_button :selection, "Favorite" %>
    			<%= @game.favorite + " -#{@game.line}" %>
  		  </label>

    		<label class="radio">
    			<%= f.radio_button :selection, "Underdog" %>
    			<%= @game.underdog+ " +#{@game.line}" %>
    		</label>

        <%= f.submit "Submit", :class => "btn btn-success" %>


      </div>

      <br/>

      
  <% end %>
      	
      

   
</div>

