 

   <h2>Your Plays</h2>

      <table width="65%" class="table table-bordered table-condensed">
        <thead>
        <tr>
          <th> Week     </th>
          <th>Home </th>
          <th>Away</th>
          <th>Your Selection</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% @plays.each do |play| %>
            <tr>
               <td> <%= play.game.week %> </td>        
               <td> <%= play.game.home_team %>  </td>
               <td> <%= play.game.visitor_team %> </td>
               <td> <%= play.selection %> </td>

              <td><%= link_to 'Show', play_path(play) , :class => "btn" %>
              <%= link_to 'Edit', edit_play_path(play), :class => "btn" %>
              <% if current_user.admin? %>
                <%= link_to 'Delete', play, confirm: 'Are you sure?', :method => :delete, :class => "btn btn-danger",    %></td>
              <% end %>
            </tr>
        </tbody>
      <% end %>
      </table>

      <br />

      <%= link_to 'New Game', new_game_path %>
 