<p id="notice"><%= notice %></p>
<p>
  <b><%="#{@result.game.favorite}" %></b>
  <%= @result.favorite_score %>
</p>

<p>
  <b><%="#{@result.game.underdog}" %></b>
  <%= @result.underdog_score %>
</p>

