<h3> Standings </h3>




<table class = "table table-bordered table-condensed table-striped">
	<thead>
      <tr>
        <th> Player </th>
        <th>Wins </th>
        <th>Losses </th>
        <th> Pushes </th>
        <th>Win Pct </th>
      </tr>
    </thead>

    <tbody>
    	<% @standings.each do |s| %>

	    	<% if s[1] > 0 || s[2] > 0 %>
		    	<tr>
		    		<td><%= s[0] %> </td>
		    		<td><%= s[1] %> </td>
		    		<td><%= s[2] %> </td>
		    		<td><%= s[3] %> </td>
		    		<td><%= number_to_percentage(s[1] / (s[1] + s[2]).to_f) %> </td>
		    	</tr>
		    <% end %>
    	<% end %>
    </tbody>
</table>