<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="span6">
    <div class="field">
      <%= f.label :week %><br />
      <%= f.number_field :week %>
    </div>
    <div class="field">
      <%= f.label :home_team %><br />
      <%= f.select :home_team, Game::TEAMS %>
    </div>
    <div class="field">
      <%= f.label :visitor_team %><br />
      <%= f.select :visitor_team, Game::TEAMS %>
    </div>
    <div class="field">
      <%= f.label :favorite %><br />
      <%= f.select :favorite, Game::TEAMS %>
    </div>
    <div class="field">
      <%= f.label :line %><br />
      <%= f.text_field :line %>
    </div>
  </div>

  <div class="span5">
    <div class="field">
      <%= f.label :total %><br />
      <%= f.text_field :total %>
    </div>

     <div class="field">
      <%= f.label :start_date %><br />
      <%= f.date_select :start_date %>
    </div>
    <div class="field">
      <%= f.label :kickoff %><br />
      <%= f.text_field :kickoff %>
    </div>
    <div class="field">
      <%= f.label :status %><br />
      <%= f.text_field :status %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>

<% end %>
