<p id="notice"><%= notice %></p>

<p>
  <b>Week:</b>
  <%= @game.week %>
</p>

<p>
  <b>Home team:</b>
  <%= @game.home_team %>
</p>

<p>
  <b>Visitor team:</b>
  <%= @game.visitor_team %>
</p>

<p>
  <b>Favorite:</b>
  <%= @game.favorite %>
</p>

<p>
  <b>Line:</b>
  <%= @game.line %>
</p>

<p>
  <b>Total:</b>
  <%= @game.total %>
</p>

<p>
  <b>Kickoff:</b>
  <%= @game.kickoff %>
</p>

<p>
  <b>Status:</b>
  <%= @game.status %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<%= link_to "Make a play on this game", new_game_play_path(@game), :game_id =>@game.id %>