<p id="notice"><%= notice %></p>

<div class="span6">
  <h2 class="red"> Matchup Details </h2>


  <span><h3><%= @game.visitor_team %>  at   <%= @game.home_team %> </h3></span>
  <br/>

  <h4> <%= @game.start_date.strftime('%B %d,'+'%Y') %> </h4> <br/>
  <h4> Kickoff: <%=  @game.kickoff %> </h4>
  <br/>
  
  <strong> <p>Favorite: <%= "#{@game.favorite}  (-#{@game.line}) " %> </p></strong>
  <strong> Total: <%= @game.total %> </strong>


 

  <p><%= hidden_field(:game_id, @game.id) %></p>

  
  <%= button_to "Make a play on this game", new_play_path, :class => "btn btn-primary", :method => "get"  %>

  <br/>
  <% if can? :update, @game %>
    <%= link_to 'Edit', edit_game_path(@game) %> 
    <%= button_to "Results for this game", new_result_path, :class => "btn btn-primary", :method => "get"  %>
  <% end %>

  <%= link_to 'Back', games_path %>
</div>