
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RDF Handicapping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans|Bitter|Oswald' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :all %>
    <link href="/stylesheets/layout.css" rel="stylesheet" type="text/css" media="screen, projection">
    <%= csrf_meta_tag %>
    

    <script type="text/javascript">
          $('li > a').click(function() {
          $('li').removeClass();
          $(this).parent().addClass('active');
    });


    </script>
         
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
 

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">RDF Pick'em <%= image_tag('shield.png') %></a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="active"><a href="/pages/about">About</a></li>
              <li><a href="#about">Standings</a></li>
              <li ><a href="/users/edit">Account</a></a></li>
            </ul>

            
              
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid" >
      <div class="row-fluid">   
        <div class="span2">
             
          <div class="sidebar-nav" id="sidebar">
            <ul class="nav nav-list">
              <li class="nav-header">Plays</li>
              <li class=""><a href="/plays">My Plays</a></li>
              <li><a href="#">Stats/Results</a></li>

              <li class="nav-header"> Games</li>
              <li><a href="/games">Current Lines</a></li>
              <li><a href="/results">Results</a></li>
              <li><a href="#">Schedule</a></li>

              <li class="nav-header"> News </li>
              <li><a href="#"> Injury </a></li>
              <li><a href="#"> Weather</a> </li>
              <li><a href="#"> Latest</a> </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span -->
        <div class="span8">
        
          

           
         <!-- Yield the actions view here --> 
          <%= yield %>
      


        </div> <!--span-->

          <!--right sidebar -->
          <div class="span2 well">
            
            <div id="user_nav">  
                <% if user_signed_in? %>  
                 Hello, <%= current_user.handle %> <br/> 
                  <%= link_to "Sign out", destroy_user_session_path %>  
                <% else %>  
                  
                  <%= link_to "Sign in", new_user_session_path %>  
                <% end %>  
                
                <br/>
                <br>
                <p>
                    <%= "You have #{pluralize(@play_count,'pick')}  for this week" %> <br/><br/>
                    <%= @remaining %> Picks left to submit
                </p>

                <a href="#"> NFL Standings </a><br/>
                <a href="#"> NFL Stats     </a>

            </div>  
          </div>
          
     
        
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; RDF Productions 2012</p>

        <%= debug(params) if Rails.env.development? %>
      </footer>

    </div><!--/.fluid-container-->
    
    
   

  </body>
</html>
