
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SixPlays</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tag %>
    <style type="text/css">
      body {    
        padding-bottom: 40px;
        
      }
      .sidebar-nav {
        background: #fefefe;
        padding: 9px 0 0 9px;
        text-align: left;
        border-left: rgba(255,255,255, .6);
       }

    </style>
    
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
    <link href="/stylesheets/layout.css" rel="stylesheet" type="text/css" media="screen, projection">
   
    
     <script type="text/javascript">
          $('.nav-collapse').collapse();
     </script>
    
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">SixPlays </a>  <!--<%= image_tag('shield.png') %> -->
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li><a href="/pages/about">About</a></li>
              <li><a href="/results/standings">Standings</a></li>
              <li ><a href="/users/edit">Account</a></a></li>
            </ul>  
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid" >
      <div class="row-fluid" style="margin-top: 50px;"> 
        
        <div class="span9">
           <% if flash[:alert] %>
              <p class="flash-error"><%= flash[:alert] %></p>
           <% end %>
           <% if flash[:notice] %>
              <p class="flash-notice"><%= flash[:notice] %></p>
           <% end %>
           
         <!-- Yield the main action's view here --> 
          <%= yield %>
        </div> <!--span-->  

      <% if params[:controller] != "devise/sessions" %>
        <div class="span3">  
          <div class="sidebar-nav">
            <ul class="nav nav-list">
              <% if user_signed_in? %>
                <li class="nav-header red"> Hi, <strong class="dark_dark_blue"> <%= current_user.handle %>  </strong><%= link_to "Sign out", destroy_user_session_path, :class => "red" %>   </li>
                <li><%= "You have made #{pluralize(@play_count,'pick')}  this week" %>. <br/> <%= @remaining %> Picks left to submit</li>
                <li class="nav-header">Picks</li>
                <li class=""><a class="dark_blue" href="/plays">My Picks</a></li>
                <li><a class="dark_blue" href="/plays/trends">Pick Trends/Results</a></li>
              <% end %>
              <li class="nav-header"> Games</li>
              <li><a class="dark_blue" href="/games">Current Lines</a></li>
              <li><a class="dark_blue" href="/results">Game Results</a></li>
              <li><a class="dark_blue" href="/games/schedule">Schedule</a></li>

              <li class="nav-header"> News </li>
              <li><a class="dark_blue" href="/posts"> Latest </a></li>
              <li><a class="dark_blue" href="#"> NFL/Fantasy related news</a> </li>
              
            </ul>
          </div><!--/.well -->
        </div><!--/spam -->
      <% end %>
      </div><!--/row-->
    </div>
      <hr>

      <footer>
        <p>&copy; RDF Productions 2012</p>
        <%= debug(params) if Rails.env.development? %>
      </footer>

    </div><!--/.fluid-container-->

  </body>
</html>
